<table class="table table-striped">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Phones</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tr ng-repeat="user in usersCtrl.users">
        <td>#<a href="/#/userModify/{{user.id}}">{{user.id}}</a></td>
        <td><a href="/#/userModify/{{user.id}}"> {{user.firstName + ' ' + user.lastName}}</a></td>
        <td>{{user.phoneLandLine + ' - ' + user.phoneMobileLine}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.streetNumber + ' ' + user.address.streetName + ' - ' + user.address.zipCode + ' ' + user.address.city}}</td>
    </tr>
</table>